node_modules
.next
.git
.gitignore
npm-debug.log
Dockerfile
.dockerignore
docker-compose.yml
deploy
README.md
.env
.env.*
!.env.example
prisma/dev.db
prisma/dev.db-journal
*.sqlite
*.sqlite3
.DS_Store
